@page
@model GuimasBurguerAppWeb.Pages.Marcas.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca[0].Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Marca) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MarcaId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MarcaId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MarcaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
